.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-div {
  background-color: #000 !important;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.data-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 15vw;
  background-color:transparent; /* Dark background color for the grid */
  padding: 20px;
  color: #fff; /* Text color */
  align-content: flex-start;
}

/* Style for each grid item */
.grid-item {
  background-color: #5e2424; /* Darker background color for grid items */
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
  border-radius: 10px; /* Remove border radius for grid items */
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.grid-item button {
  background-color: #5e2424;
  color: #fff;
  border-radius: 5px;
}

.grid-item:hover {
  transform: scale(1.05);
}

/* Style for the popup container */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for popup */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

/* Style for the popup content */
.popup-content {
  background-color: #5e2424;
  display: flex;
  color: #fff;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  max-width: 100%; /* Set the maximum width as needed */
  width: 90%; 
  height: 90%;/* Adjust width as needed */
}

.popup-content img{
width: 40%;
}

/* Style for the close button in the popup */
.close {
  position: absolute;
  top: 5px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
/* Define the running border shadow animation */
@keyframes running-border-shadow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.5),
                -5px 0 10px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                -5px 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

/* Define the sparkle animation */
@keyframes sparkle {
  0%, 100% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
}

/* Search.css */

.filter {
  background-color: #5e2424;
  padding-top: 20px;
  color: #fff;
  width: 100vw;
}
.contain {
  display: flex;
  text-align: center;
  width: 100vw;
}

.top-row input {
  background-color:antiquewhite;
  color: #fff;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  margin-right: 2px;
  max-width: 70%; 
}

.bottom-row {
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.bottom-row button {
  background-color:rgb(222, 126, 77);
  color: #fff; 
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-right: 10px;
}

.bottom-row button:hover {
  animation: running-border-shadow 3s linear infinite, sparkle 1s infinite;
}
@keyframes running-border-shadow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.5),
                -5px 0 10px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5),
                -5px 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

/* Define the sparkle animation */
@keyframes sparkle {
  0%, 100% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
}

.contentss {
  position: relative;
  top: 10%;
  right: -8%;
}

.bottom-fav button{
  background-color: rgb(222, 126, 77);
  color: #fff; 
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-right: 0%;
}

.heart-button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 24px;
}

.heart-button.active {
  color: red;
}
.heart-button.active {
  font-size: 36px; /* Adjust the size as needed */
}

.popup-fav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for popup */
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  overflow-y: scroll;
}

.pops {
  position: absolute;
  color: antiquewhite;
  background-color: #5e2424;
  top: 2%;
  margin-left: 35vw;
  border-radius: 10px;
  width: 30%;
  padding-bottom: 20px;
  text-align: center;
  
}

@media (max-width: 768px) {
  .App-header {
    font-size: 16px;
  }
  .filter {
    position: relative;
    left: 0vw;
  }
  .grid-item {
    flex: 0 0 calc(50% - 20px);
  }

  .popup-content {
    width: 95%;
  }

  .pops {
    margin-left: 5vw;
    width: 200px;
  }
  .pops img {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .filter {
    position: relative;
  }
  .contain {
    display: block;
    position: relative;
    left: -5vw;
  }
  .search {
    position: relative;
    left: -50px;
    display: flex;
  }


  .top-row {
    width: 70px;
    padding-bottom: 5px;
    margin-right: 15px;
   
  }
  .bottom-row{
    width: 60px;
    position: relative;
    left: 3vw;
    padding-bottom: 5px;
    
  }
  .bottom-fav {
    width: 80px;
    position: relative;
    left: 2vw;
  }
  .pops {
    margin-left: 3vw;
  }
  .App-header {
    font-size: 14px;
  }
  .data-grid {
    margin-left: 0vw;
    position: relative;
    top: -30px;  
    left: 55px;
    width: 400px;
  }

  .grid-item img {
    width: 200px;
  }

  .popup-content {
    width: 100%;
  }

  .top-row input, .bottom-row input[type="text"] {
    max-width: 100%;
  }
}
.contain {
  position: relative;
  left: 30vw;
}
.contain img{
  position: relative;
  top: -5px;
  width: 50px;
}

.recipe {
  color: black;
  text-align: center;
}

.app-name {
  margin-top: -12.5px;
  margin-left: 9px;
}

.itemss {
  margin-bottom: 15px;
}

.itemss img{
  border-radius: 10px;
  border: 2px solid rgb(180, 173, 173);
}

.itemss button{
  color:white;
  background-color: rgb(222, 126, 77);
  border-radius: 5px;
  border: 1px solid white;
}
.itemss button:hover{
  background-color: red;
  color: antiquewhite;
}

.icon {
  display: flex;
  position: relative;
  left: -28%;
}

.search {
  display: flex;
}